<div class="row">
    <div class="col-xs-12">
        <h1>{{game.name}}</h1>
        <h2>{{game.summary}}</h2>
        <h3>{{game.storyline}}</h3>
        <h3>{{game.rating}}</h3>
        <h3>{{game.rating_count}}</h3>
        <h3>{{game.aggregated_rating}}</h3>
        <h3>{{game.aggregated_rating_count}}</h3>
        <h3>{{game.total_rating}}</h3>
        <h3>{{game.total_rating_count}}</h3>
    </div>
</div>
